__history
__recover
__recovery
*.db
*.dcu
*.drc
*.exe
*.local
*.map
___*.log
___*.bat
___*.txt
___3thParty
/Examples/EntityDemo/test.db
/Playgroung
/Sources/Tests/*.local
FastMM_FullDebugMode.dll
FluentTasks
GeneratedEntitiesFluentMapping.pas
GeneratedEntitiesMappingWithAttributes.pas
Win32
Win64
